.card {
	width: 180px;
	min-height: 300px;
	border: 2px solid #1f2937;
	border-radius: 26px;
	padding: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	background: #ffffff90;
	box-shadow: 5px 5px 10px #1f2937;
}

.day {
	font-size: 50px;
	line-height: 1.1;
	font-weight: 500;
	margin-top: 4px;
	margin-bottom: 8px;
	text-align: center;
}

.temp {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}

.radC {
	font-size: 16px;
	text-align: center;
	margin-bottom: 8px;
}

.spacer {
	flex: 1;
}
