.city-list-element {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s;
}

.city-list-element:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.city-list-element p {
    margin: 0;
}
