.app-header {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    @media screen and (min-width: 405px) {
        gap: 30px;
    }
}

.app-title {
    @media screen and (max-width: 405px) {
        margin-top: 0;
    }
}