@import url("https://fonts.bunny.net/css2?family=Caveat+Brush:wght@400;700&display=swap");

body {
    font-family: 'Caveat Brush', cursive;
    background-color: #a5d8ff;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 20px;
}