@import url("https://fonts.bunny.net/css2?family=Caveat+Brush:wght@400;700&display=swap");
@import url("./hamburger.css");
@import url("./sidebar.css");
@import url("./city.css");

body {
    font-family: 'Caveat Brush', cursive;
    background-color: #a5d8ff;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infos-wrapper {
    width: 100%;
    @media screen and (max-width: 500px) {
        padding-left: 5vw;
    }
    @media screen and (min-width: 500px) {
        padding-left: 20vw;
    }
    box-sizing: border-box;
}

.details-header {
    font-size: 24pt;
    padding-bottom: 20px;
}