.side-card {
    background-color: #f88;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
}

.side-card p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.side-card p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.side-card a {
    color: #000;
    text-decoration: underline;
    font-size: 1rem;
}
