.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    transition: left 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    visibility: hidden;
    opacity: 0;
}

.sidebar.open {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.sidebar-content {
    margin-top: 20px;
}
