.temperature-container {
    display: flexbox;
    justify-items: center;
}

.temperature-value {
    font-size: 70pt;
    font-weight: 500;
}

.temperature-unit {
    font-size: 36pt;
    font-weight: 400;
}

.radC {
	text-align: center;
	margin-bottom: 8px;
}

.temperature-description {
    font-size: 16pt;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}